h1 {
	color: blue;			
	text-align: center;
	}

body {background-image: linear-gradient(to right, #ebf2ee , #ddf0e5);
}

table {
	border: 2px solid grey;
	border-collapse: collapse;
	text-align: center;
	width: 20%;
}
th,td {
	border: 1px solid grey;
}
th {
	background-color: #4a4f4c;
}

button {
	width: 200px;
	background-color: orange;
}

button:hover {	
	background-color: green;
}
.grid {
	background-color: #e3c5f0;
	display: grid;
	padding: 20px;
	grid-column-gap: 20px;
	grid-row-gap: 10px;
	grid-template-columns: auto auto auto;
}